body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.district-tooltip {
  font-size: 14px;
  font-weight: bold;
  background: white;
  border-radius: 5px;
  padding: 4px;
  color: black;
  text-transform: capitalize;
}
.map-container {
  height: 100vh;
  width: 100%;
}

.leaflet-interactive:focus {
  outline: none !important;
}




